.login_pages {
    height: 100%;
    min-height: 100vh;
}

.login_form {
    width: 40vw;
    min-height: 40vh;
    height: fit-content;
    background-color: rgb(20, 20, 20);
    border-radius: 30px;
    margin: auto;
    padding: 30px;
}