.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    z-index: 45;
    height: 75px;
    /* width: 1280px; */
}

.navbar_content {
    max-width: 1280px;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* .navbar>div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
} */

.navbar_logo {
    width: 150px;
}