@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.video_background {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    /* bottom: 0;
    height: 100vh;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1; */
}

.center_card {
    min-width: 40vw;
    min-height: 40vh;
    height: fit-content;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.avatar_frame {
    width: 100px;
    height: 100px;
    position: relative;
}

.avatar_content {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.avatar_decor {
    width: 100px;
    height: 100px;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}

/* Google Fonts */

.typewriter {
    display: flex;
    justify-content: center;
}

.social_icon {
    height: 30px;
    width: auto;
}

.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 5s steps(50, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white
    }
}