@import "tailwindcss";

.app-body {
  position: relative;
  min-height: calc(100vh - 44px);
  padding-top: 80px;
  top: 0;
  left: 0;
  right: 0;
}

.app-landing-page-body {
  min-height: 100vh;
}

@media (max-width: 480px) {}