#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.app-body {
  position: relative;
  min-height: calc(100vh - 44px);
  padding-top: 80px;
  top: 0;
  left: 0;
  right: 0;
}

.app-landing-page-body {
  min-height: 100vh;
}

@media (max-width: 768px) {
  #root {
    padding: 0.75rem;
  }
}